 * {fd
	border:1px solid rgba(0,0,0,0.3);
}

body {
	font-size:100%;
	font-family: helvetica;
}

#gwc {
	float:left;
}

#textdec{
  text-decoration: none;
}


#website-name {
	display:inline-block;
	float:left;
	padding: 1em 0.75em 0em;
}

h1 {
text-align: left;
}

h2 {
text-align: center;
}

.map {
	padding-bottom: 25px;
	padding-top: 25px;
}

ul, {
text-align: left;
}

p {
text-align: center;
color: rgb(0,168,198)
}

nav > ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0,168,198);
	clear:both;
	border-radius:5px;
}

nav li {
	float:left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	border-radius:5px;
}

nav li a:hover {
    background-color: rgb(174,226,57);
}

nav li a.active {
	background-color:blue;
}

/*
.topnav {
background-color: ;
 overflow: hidden;
text-align: center;
clear:both;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color:  ;
    color: white;
}
*/
.bigdiv{
height: 800px;
}
.wordside{
float:left;
width:40%;
}
.mapside{
float:right;
width:60%;

}
.doncenter{
font-family: Verdana;
text-align: left;
}
.doncentertitle{
font-weight: bold;
}

/*for donationlist*/
.specialword{
color: red;
}
.doncenteritems{
text-align:left;
}
